.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  height: 10vh;
  width: 100vw;
}

.toast {
  font-weight: bold;
  color: black;
}
