.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: black;

  h4 {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .container {
    h4 {
      font-size: 1.2vw;
    }

    h5 {
      font-size: 1vw;
    }

    p {
      font-size: 0.8vw;
    }
  }
}

.card {
  text-align: center;
  padding: 5vh;
  background-color: snow;
}

@media(max-width: 1024px) and (min-width: 768px) {
  .card {
    padding: 0vh;
  }

  h4{
    padding-top: 5vh;
  }
}


.blocks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5vh;
}
