@import "../../scss/bootstrapResponds";
$md-primary-color: #272727;
$md-secondary-color: #a0a0a0;
$md-colors-warn-md: false;
$md-ink-border-radius: 0%;
@import '~react-md/src/scss/react-md';
@include react-md-everything;

.dashboard-section {
  a:focus, a:hover, a:active {
    color: #ffffff !important;
    text-decoration: none !important;
    outline: none;
  }
}