.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #f1f1f1;

  h4 {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .container {
    h4 {
      font-size: 1.2vw;
    }

    h5 {
      font-size: 1vw;
    }

    p {
      font-size: 0.8vw;
    }
  }
}

.card {
  text-align: center;
  padding: 5vh;
}

.stepsStyle {
  text-align: left;
  align-content: flex-start;
  color: #f1f1f1 !important;
}
