.image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.content {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
  padding: 20px;
  width: fit-content;
  position: absolute;

  h1, h4 {
    color: white;
    font-weight: bold;
  }
}

.title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 4em;
  margin: 0.67em 0;
}

.subtitle {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin: 1.33em 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
