.card {
  height: 100vh;
  min-width: 100vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 479px) {
  .card {
    padding: 10vh;
  }
}

@media (max-width: 479px) {
  .card {
    padding-top: 30vh;
    width: 60vw;
  }
}

.title {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  position: relative;
  border: 3px solid #f1f1f1;
  transform: translate(-50%, -50%);
  padding: 20px;

  h1, h4 {
    color: white;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .title {
    left: 25%;
    width: 50%;
  }
}

@media (max-width: 479px) {
  .title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    alignItems: 'stretch';
    left: 40%;
    margin-bottom: 10vh;
  }
}

@media(max-width: 1024px) and (min-width: 479px) {
  .title {
    left: 30%;
    margin-top: 10vh;
  }
}