@import "../../scss/bootstrapResponds";

.wrapper {
  /* layout */
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.slide {
  /* layout */
  height: 100vh;
  min-width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: fixed !important;
  background-image: url("../../../assets/ash-edmonds-510566-unsplash.jpg")
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  text-align: center;
  align-self: center;
  height: 100vh;
  min-width: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  position: fixed;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
}

.title {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  position: fixed;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;

  h1, h4 {
    color: white;
    font-weight: bold;
  }
}