$md-primary-color: #272727;
$md-secondary-color: #a0a0a0;
$md-colors-warn-md: false;
$md-ink-border-radius: 0%;
@import '~react-md/src/scss/react-md';
@include react-md-everything;
@import "bootstrapResponds";
@import "transitions";
@import "home";
@import "dashboard";
@import "academic";
@import "knowledges";
@import "document";

@include respond-below(md) {
  .md-media--16-9 {
    padding-bottom: 0;
  }
}

.body-background {
  background: #e6e6e6;
}

.white-background {
  background: #ffffff;
}

@include respond-above(lg) {
  .central-div {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@include respond-below(md) {
  .central-div {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 10vh;
  }
}

.title-paper {
  height: auto;
  background: #ffffff;
}

@include respond-above(md) {
  .title-paper {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@include respond-below(md) {
  .title-paper {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

.title {
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.paragraph {
  margin-left: 30px;
  margin-right: 30px;
}

.steps-style {
  text-align: left;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  width: 100vw;
}