.technology-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  min-width: 40vw;
}

@media (max-width: 479px) {
  .technology-container {
    min-width: 80vw;
  }
}

@media(max-width: 1024px) and (min-width: 768px) {
  .technology-container {
    min-width: 30vw;
  }
}

.technology-label {
  display: flex;
  align-self: flex-start;
  flex: 1;
  margin-right: 1vw;
  font-size: 1.5em;
}

.technology-progress {
  align-self: baseline;
  flex: 10;
}
